body {
    background-image: url("images/delivery_service_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ffffff;
    color: #ffffff;
}
table.table {
    color: #ffffff;
}
a.nav-link {
    color: #ffffff;
}